# Jackett configuration
JACKETT_HOST=http://192.168.10.110:9117
JACKETT_KEY=foo

# Sonarr configuration
SONARR_BASE_URL=http://192.168.10.110:8989/
SONARR_API_KEY=bar

# Radarr configuration
RADARR_BASE_URL=http://192.168.10.110:7878/
RADARR_API_KEY=baz

# Deluge configuration
DELUGE_URL=http://192.168.10.110:8112/
DELUGE_PASSWORD=spam

# Plex configuration
PLEX_USERNAME=username@example.com
PLEX_PASSWORD=somepassword

REMOTE_STATUS_RECEIVER=https://.....
